{namespace adwlm=ADWLM\CategoriesExample\ViewHelpers}

<f:if condition="{selectedCategories}">
	<f:render partial="SelectedCategories" arguments="{_all}" />
</f:if>

<nav class="contentnavigation filter">

	<ul class="level0">
		<f:for each="{categoryTree.0}" as="currentCategory">

			<li class="{f:if(condition:'{adwlm:InArrayExplode(needle : currentCategory.uid, haystack : selectedCategories)}', then : 'selected', else : 'no')}">

				<f:link.action action="select" arguments="{category : currentCategory.uid, selectedCategories : selectedCategories}" pageUid="{settings.targetPid}">
					{currentCategory.title}
				</f:link.action>

				<f:render partial="ChildCategoryRecursion" arguments="{
					categoryTree : categoryTree,
					selectedCategories : selectedCategories,
					currentCategory : currentCategory,
					currentLevel : 0,
					stopRecursionOnLevel : settings.recursive}"
				/>

			</li>
		</f:for>
	</ul>

</nav>